body {
  background-color: #6f90ab;
}
#filter-btn {
  width: 100px;
  height: 20px;
}
.controls {
  margin-left: 30%;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
.addMovie {
  margin: 10px;
}
h2 {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 30%;
  color: white;
}
#movie-list {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  flex-direction: column;
}
ul {
  border-radius: 30px;
  width: 400px;
  padding: 20px;
  background-color: white;
}
ul li {
  list-style-type: none;
  line-height: 20px;
}
p {
  margin-top: 110px;
  font-weight: 400;
  font-size: 24px;
}
button {
  background-color: white;
}
